body{
    background-color:#1e1f21;
}

.navbar{
   display: flex;
   justify-content: space-between;
   margin-left: 5%;
   margin-right: 5%;
   span{
    padding-top:2vh;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
   }
    ul{
        display: flex;
        justify-content: end;
        
        li{
            padding-right: 10vw;
            
            list-style: none;
            a{
                text-decoration: none;
                color: whitesmoke;
                font-family: 'Inter', sans-serif;
                font-size: 1.5vw;
                
            }
        }
    }
}

.presentation{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    
    div{
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        margin: 5%;
        background-color: #2b2d30;
        height: 60%;
        
    }

    .img_presentation{
        width: 50%;
    }
   
    .presentation_title{
        color:  whitesmoke ;
        display: flex;
        flex-direction: column;
        width: 50%;
        h2{
            font-family: 'Inter', sans-serif;
            font-size: 3vw;
        }
        p{
            width: 100%;
            color: rgb(179, 179, 35);
            font-family: 'Inter', sans-serif;
        }
    }
}

.skills{
   
    width: 100%;
    .skills_container{
        margin: 5%;
        
        display: flex;
        justify-content: space-between;
       
        article{
            background-color: #2b2d30;
            border-radius: 10px;
            padding: 5%;
            width: 10vw;
            h2{
                width: 100%;
                font-family: 'Inter', sans-serif;
            }
        }
    }
}


.projects{
    .projects_container{
        background-color: #2b2d30;
        margin: 5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        article{
            height: 33vh;
            margin: 5%;
            width: 30%;
            p{
                font-family: 'Inter', sans-serif;
            }
        }
    }

}

.certificaciones{
    display: flex;
    
    
    .article_certificaciones{
        width: 25%;
        margin: 5%;
        img{
            width: 100%;
        }
    }
}

.footer{
    margin-top: 5%;
    display: flex;
    padding: 5%;
    .footer_form{
        display: flex;
        width: 30%;
        flex-direction: column;
         margin-left: 20%;
        input{
            margin: 5%;
            width: 100%;
        }
    }
    .div_footer{
        width: 50%;
        display: flex;
    }
}